In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

Matplotlib is building the font cache; this may take a moment.

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1621,tt0387575,12000000,24829644,Seed of Chucky,Brad Dourif|Jennifer Tilly|Billy Boyd|Redman|H...,Don Mancini,Fear The Second Coming,The killer doll is back! The all-new film is t...,87,Comedy|Drama|Horror,Rogue Pictures,11/11/2004,4.9,2004
153,tt1490017,60000000,469160692,The Lego Movie,Will Arnett|Elizabeth Banks|Craig Berry|Alison...,Phil Lord|Christopher Miller,The story of a nobody who saved everybody.,"An ordinary Lego mini-figure, mistakenly thoug...",100,Adventure|Fantasy|Animation|Comedy|Action,Village Roadshow Pictures|DC Comics|Vertigo En...,2/6/2014,7.5,2014
659,tt0824747,55000000,113020255,Changeling,Angelina Jolie|Jeffrey Donovan|John Malkovich|...,Clint Eastwood,"To find her son, she did what no one else dared.",Christine Collins is overjoyed when her kidnap...,141,Crime|Drama|Mystery,Imagine Entertainment|Malpaso Productions|Rela...,1/30/2008,7.1,2008
569,tt0268995,72000000,37317558,The Majestic,Jim Carrey|Martin Landau|Laurie Holden|David O...,Frank Darabont,Sometimes your life comes into focus one frame...,"Set in 1951, a blacklisted Hollywood writer ge...",152,Drama|Romance,Village Roadshow Pictures|Castle Rock Entertai...,12/21/2001,6.5,2001
77,tt1754656,64000000,97571250,The Little Prince,Jeff Bridges|Rachel McAdams|Paul Rudd|Marion C...,Mark Osborne,Growing up isn't the problem... forgetting is.,Based on the best-seller book 'The Little Prin...,92,Adventure|Animation|Fantasy,Onyx Films|Orange Studios|CityMation|On Entert...,7/29/2015,7.5,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [223]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data.revenue - data.budget   #колонка прибыли
data['long'] = data.original_title.apply(lambda x:len(str(x)))   #колонка длины названия
data['word'] = data.overview.apply(lambda x:str(x).count(' ')+1) #колонка числа слов в описании
data

# функция составляющая фрейм по жанру
def genres(dat):
    data_genres = data[data.genres.str.contains(str(dat))]
    return data_genres

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [272]:
# в словарь вставляем номер вопроса и ваш ответ на него

# запишите свой вариант ответа
answers['1'] = '5' 
# +

In [273]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,43,75

ВАРИАНТ 2

In [274]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [275]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2'
#+

In [276]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,17,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [277]:
answers['3'] = '3'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,15,52

# 4. Какова средняя длительность фильмов?

In [278]:
answers['4'] = '2'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [279]:
answers['5'] = '5'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [280]:
answers['6'] = '5'
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,6,28

# 7. Какой фильм самый убыточный?

In [281]:
answers['7'] = '5'
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,15,68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [282]:
answers['8'] = '1'
x = data[data.profit >0].imdb_id.count()
x

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [283]:
answers['9'] = '4'
x = data[data.release_year==2008]
y = x[x.profit == x.profit.max()]
y

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,15,67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [284]:
answers['10'] = '5'
x = data[(data.release_year<=2014) & (data.release_year>=2012) ]
y = x[x.profit == x.profit.min()]
y

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,15,68

# 11. Какого жанра фильмов больше всего?

In [285]:
answers['11'] = '3'
print(len(genres("Drama")), "drama")
print(len(genres("Adventure")), "Adventure")
print(len(genres("Action")), "Action")
print(len(genres("Comedy")), "Comedy")
print(len(genres("Thriller")), "Thriller")

782 drama
415 Adventure
582 Action
683 Comedy
596 Thriller

ВАРИАНТ 2

In [286]:

x_drama = data[data.genres.str.contains("Drama")]
print(len(x_drama))
x_adventure= data[data.genres.str.contains("Adventure")]
print(len(x_adventure))
x_action = data[data.genres.str.contains("Action")]
print(len(x_action))
x_comedy = data[data.genres.str.contains("Comedy")]
print(len(x_comedy))
x_thriller = data[data.genres.str.contains("Thriller")]
print(len(x_thriller))

782
415
582
683
596

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [287]:
answers['12'] = '1'
print(len(x_drama[x_drama.profit>0]))
print(len(x_adventure[x_adventure.profit>0]))
print(len(x_action[x_action.profit>0]))
print(len(x_comedy[x_comedy.profit>0]))
print(len(x_thriller[x_thriller.profit>0]))

560
337
444
551
446

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [288]:
answers['13'] = '5'
x = data.groupby(['director'])['revenue'].max().sort_values(ascending=False)
x.head()
a = data[data.director.str.contains("Peter Jackson")]
s = a.revenue.sum()
print(s, "Peter Jackson")
a = data[data.director.str.contains("James Cameron")]
s = a.revenue.sum()
print(s, "James Cameron")
a = data[data.director.str.contains("David Yates")]
s = a.revenue.sum()
print(s, "David Yates")
a = data[data.director.str.contains("Christopher Nolan")]
s = a.revenue.sum()
print(s, "Christopher Nolan")
a = data[data.director.str.contains("Steven Spielberg")]
s = a.revenue.sum()
print(s, "Steven Spielberg")

6490593685 Peter Jackson
2798546718 James Cameron
4154295625 David Yates
4167548502 Christopher Nolan
3386700791 Steven Spielberg

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [289]:
answers['14'] = '3'
x_action = data[data.genres.str.contains("Action")]
x = x_action.groupby(['director'])['imdb_id'].count().sort_values(ascending=False)
x.head()

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
Name: imdb_id, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [290]:
answers['15'] = '3'
x_cage = data[(data.cast.str.contains("Cage")) & (data.release_year==2012)]
print(x_cage.revenue.sum(), "Cage")
x_hardy = data[(data.cast.str.contains("Hardy")) & (data.release_year==2012)]
print(x_hardy.revenue.sum(), "Hardy")
x_hem = data[(data.cast.str.contains("Chris Hemsworth")) & (data.release_year==2012)]
print(x_hem.revenue.sum(), "Chris Hemsworth")
x_str = data[(data.cast.str.contains("Jim Sturgess")) & (data.release_year==2012)]
print(x_str.revenue.sum(), "Jim Sturgess")
x_sto = data[(data.cast.str.contains("Emma Stone")) & (data.release_year==2012)]
print(x_sto.revenue.sum(), "Emma Stone")

2106557 Cage
1134717867 Hardy
2027450773 Chris Hemsworth
138589343 Jim Sturgess
752215857 Emma Stone

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [291]:
answers['16'] = '3'
a = data.budget.mean()
tom = data[(data.cast.str.contains("Cruise")) & (data.budget>a)]
print(len(tom), "Cruise")
mark = data[(data.cast.str.contains("Wahlberg")) & (data.budget>a)]
print(len(mark), "Wahlberg")
mat = data[(data.cast.str.contains("Damon")) & (data.budget>a)]
print(len(mat), "Damon")
ang = data[(data.cast.str.contains("Jolie")) & (data.budget>a)]
print(len(ang), "Jolie")
ad = data[(data.cast.str.contains("Sandler")) & (data.budget>a)]
print(len(ad), "Sandler")

15 Cruise
15 Wahlberg
18 Damon
16 Jolie
17 Sandler

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [292]:
answers['17'] = '2'
x = data[data.cast.str.contains("Nicolas Cage")]
#.count().sort_values(ascending=False)
y = x.groupby(['genres'])['cast'].count()
g = len(x[x.genres.str.contains("Crime")])
g

10

# 18. Самый убыточный фильм от Paramount Pictures

In [293]:
answers['18'] = '1'
x = data[data.production_companies.str.contains("Paramount Pictures")]
a = x[x.profit == x.profit.min()]
a

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,20,23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [294]:
answers['19'] = '5'
x = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
x.head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [295]:
answers['20'] = '1'
x = data[data.production_companies.str.contains("Warner Bros")]
a = x.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
a.head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [296]:
answers['21'] = '4'
d = []
for i in range(1,13):
    s = data[data.release_date.str.match(str(i))]
    d.append(s.imdb_id.count())
    print (s.imdb_id.count(),i)
d[0]=d[0]-d[11]-d[10]-d[9]
d[0] #правильный январь

632 1
135 2
156 3
149 4
140 5
147 6
142 7
161 8
227 9
186 10
146 11
190 12

110

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [297]:
answers['22'] = '2'
q = d[7]+d[5]+d[6]

q

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [298]:
answers['23'] = '5'
a = data[(data.director.str.contains("Peter Jackson")) & (data.release_date.str.match("12/"))]
s = a.imdb_id.count()
print(s)
a = data[(data.director.str.contains("Ridley Scott")) & (data.release_date.str.match("12/"))]
s = a.imdb_id.count()
print(s)
a = data[(data.director.str.contains("Clint Eastwood")) & (data.release_date.str.match("12/"))]
s = a.imdb_id.count()
print(s)
a = data[(data.director.str.contains("Christopher Nolan")) & (data.release_date.str.match("12/"))]
s = a.imdb_id.count()
print(s)
a = data[(data.director.str.contains("Steven Soderbergh")) & (data.release_date.str.match("12/"))]
s = a.imdb_id.count()
print(s)

7
2
5
0
4

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [299]:
answers['24'] = '5'
a = data[(data.production_companies.str.contains("Universal"))]
s = a.long.mean()
print(s)
a = data[(data.production_companies.str.contains("Warner Bros"))]
s = a.long.mean()
print(s)
a = data[(data.production_companies.str.contains("Jim Henson Company, The"))]
s = a.long.mean()
print(s)
a = data[(data.production_companies.str.contains("Paramount Pictures"))]
s = a.long.mean()
print(s)
a = data[(data.production_companies.str.contains("Four By Two Productions"))]
display(a)
s = a.long.mean()
print(s)

14.762162162162163
15.251366120218579
59.0
17.0327868852459

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,83,42

83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [300]:
answers['25'] = '3'
a = data[(data.production_companies.str.contains("Universal Pictures"))]
s = a.word.mean()
print(s)
a = data[(data.production_companies.str.contains("Warner Bros"))]
s = a.word.mean()
print(s)
a = data[(data.production_companies.str.contains("Midnight Picture Show"))]
s = a.word.mean()

print(s)
a = data[(data.production_companies.str.contains("Paramount Pictures"))]
s = a.word.mean()
print(s)
a = data[(data.production_companies.str.contains("Total Entertainment"))]
s = a.word.mean()
print(s)

53.777142857142856
54.25136612021858
175.0
55.278688524590166
86.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [301]:
answers['26'] = '1'
s = data['vote_average'].value_counts(normalize=True)
data[data.vote_average > 7.8]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,long,word
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480,12,35
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399,23,28
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708,18,46
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363,9,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318,24,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000,9,44
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,15,67
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577,11,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979,45,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694,23,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000,16,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096,7,78

In [302]:
answers['27'] = '5'
a = data[(data.cast.str.contains("Johnny Depp")) & (data.cast.str.contains("Helena Bonham Carter"))]
s = a.imdb_id.count()
print(s)
a = data[(data.cast.str.contains("Ben Stiller")) & (data.cast.str.contains("Owen Wilson"))]
s = a.imdb_id.count()
print(s)
a = data[(data.cast.str.contains("Vin Diesel")) & (data.cast.str.contains("Paul Walker"))]
s = a.imdb_id.count()
print(s)
a = data[(data.cast.str.contains("Daniel Radcliffe")) & (data.cast.str.contains("Rupert Grint"))]
s = a.imdb_id.count()
print(s)

6
6
5
8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [303]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5',
 '3': '3',
 '4': '2',
 '5': '5',
 '6': '5',
 '7': '5',
 '8': '1',
 '9': '4',
 '10': '5',
 '11': '3',
 '12': '1',
 '13': '5',
 '14': '3',
 '15': '3',
 '16': '3',
 '2': '2',
 '17': '2',
 '18': '1',
 '19': '5',
 '20': '1',
 '21': '4',
 '22': '2',
 '23': '5',
 '24': '5',
 '25': '3',
 '26': '1',
 '27': '5'}

In [304]:
# и убедиться что ни чего не пропустил)
len(answers)

27